body{
    background: linear-gradient(0.25turn, #9681EB, #6527BE);
}

main {
    background-color: white;
    position: relative;
    max-width: 600px;
    top: 200px;
    margin: auto;
    padding: 25px;
}
h2{
    text-align: center;
}
form{
    display: flex;
    background-color: #A7EDE7;
    margin-bottom: 15px;
}
form input{
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 10px;
    outline:none;
}

form input:hover, form input:focus{
    border: 2px solid #45CFDD;
}


form button{
    width: 150px;
    height: 45px;
    background-color: #45CFDD;
    border: none;
}

form button:hover{
    border: 2px solid #45CFDD;
}

form button:active{
    transform: scale(0.95);
}

#emptyWarning{
    color:red;
    display:none;
}

section ul {
    all: unset;
    font-size: 18px;
}

section ul li{
    list-style: none;
    padding: 10px;
    margin: 5px;
    display: flex;
}

section ul li:hover{
    transform: scale(1.02);
    cursor: pointer;
    border: 1px solid #45CFDD;
    transition: transform 0.2s ease-in-out; 
}

li::before{
    content: "";
    background-image: url('/images/unchecked.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

li.checked{
    text-decoration: line-through;
}

li.checked::before{
    background-image: url('/images/checked.png');
    filter: hue-rotate(180deg);
}