body{
    background: linear-gradient(0.25turn, #9681EB, #6527BE);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #45CFDD;
    width: 60%;
    position: relative;
    top: 200px;
}
h2{
    text-align: center;
}
form{
    display: flex;
}
form input{
    border-radius: 20px;
    width: 100%;
}

form button{
    border-radius: 20px;
}

section ul {
    all: unset;
}
section ul li{
    background-color: #A7EDE7;
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: flex;
}

li::before{
    content: "";
    background-image: url('/images/unchecked.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}